body {
  padding: 10px;
  margin: 35px;
  margin-top: 15px;
  background-color: #1d1924;
  color: #fdfcfc;
  font-family: "Trebuchet MS", Veranda, sans-serif;
}
header {
  height: 45px;
  line-height: 45px;
  letter-spacing: 3px;
  background-color:#1a1519;
}
header nav ul {
  display: flex;
  margin-left: 80%;
}
img {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding:15px;
}
a:link{
  color:#fdfcfc;
}
a:visited{
  color:#fdfcfc;
}
